@{
    Page.Title = "Organization Pending";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    Page.Header = "My Organization";
}
<p>
    You are currently being considered for an organization. Please contact your organization
    leader to get approved into the organization.</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
